header {
  background-color: rgba(119, 0, 24, 0.8);
  position: sticky;
  top: 0;
  z-index: 9998; }
  header section {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header section a {
      color: white; }
    header section .carritoNavBar {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      header section .carritoNavBar a > i {
        font-size: 3rem;
        transition: all 0.6s; }
        header section .carritoNavBar a > i span {
          position: absolute;
          text-align: center;
          transform: translate(-0.5rem, -0.2rem);
          height: 1.5rem;
          width: 1.5rem;
          background-color: red;
          border-radius: 20px;
          font-size: 1.2rem;
          font-weight: bold; }
      header section .carritoNavBar ul {
        visibility: hidden;
        position: absolute;
        background-color: white;
        transform: translateY(3.05rem);
        margin: 0;
        border-radius: 5px;
        opacity: 0;
        z-index: 9999; }
        header section .carritoNavBar ul li {
          display: flex;
          justify-content: start;
          align-items: center;
          list-style: none;
          min-width: 100%;
          padding: 0;
          color: black;
          border-bottom: 2px solid black; }
          header section .carritoNavBar ul li p {
            display: inline;
            padding: 0 0.25rem;
            margin: 0.1rem 0;
            white-space: normal; }
          header section .carritoNavBar ul li i {
            color: red;
            margin-left: auto;
            padding: 0.5rem; }
          header section .carritoNavBar ul li i:hover {
            cursor: pointer; }
        header section .carritoNavBar ul .irCarrito {
          color: white;
          display: block;
          text-align: center;
          background-color: #2871cc;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 0.5rem 0;
          width: 100%;
          cursor: pointer; }
    header section .carritoNavBar:hover ul {
      transition: all 0.5s;
      transition-delay: 0.4s;
      visibility: visible;
      opacity: 1; }
    header section .carritoNavBar:hover i {
      transform: rotate(180deg); }
    header section .carritoNavBar:hover span {
      display: none; }
    header section a:hover {
      color: white;
      list-style: none;
      text-decoration: none; }
  header h2 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin: 0;
    padding-left: 0;
    color: white; }
  header nav .navBar {
    display: flex;
    list-style: none;
    margin: 0; }
    header nav .navBar li {
      position: relative;
      padding: 0.5rem 0.75rem;
      transition: 0.4s all;
      border-radius: 5px; }
      header nav .navBar li ul {
        background-color: rgba(119, 0, 24, 0.7);
        list-style: none;
        margin: 0;
        min-width: 100%;
        overflow: hidden;
        transform: translate(-0.75rem, 0.3rem);
        white-space: nowrap;
        border-radius: 5px;
        max-height: 0; }
      header nav .navBar li i {
        margin-left: 0.5rem;
        height: 100%; }
  header nav a {
    color: white;
    display: block; }
  header nav a:hover {
    text-decoration: none; }

.toggle-button {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin: 1rem auto; }

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px; }

.botonOcultarNav {
  flex-direction: column;
  align-items: center; }
  .botonOcultarNav button {
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
    position: fixed;
    right: 1.5rem;
    bottom: 4rem; }
    .botonOcultarNav button i {
      font-size: 2rem;
      text-align: center; }
  .botonOcultarNav small {
    display: none;
    position: fixed;
    right: 1.5rem;
    bottom: 2.5rem; }

.botonOcultarNav:hover small {
  display: block; }

@media (max-width: 991.98px) {
  .toggle-button {
    display: flex; }
  .navBar {
    flex-direction: column;
    justify-content: left; }
    .navBar li {
      display: none;
      text-align: center; }
      .navBar li ul {
        position: relative; }
    .navBar li:hover ul {
      max-height: 400px;
      transition: 1s ease-in-out; }
  .botonOcultarNav {
    display: none; } }

@media (min-width: 992px) {
  .navBar {
    flex-direction: row;
    justify-content: center; }
    .navBar li ul {
      position: absolute; }
    .navBar li:hover {
      background-color: white;
      color: black; }
      .navBar li:hover > a {
        color: black; }
      .navBar li:hover ul {
        max-height: 400px;
        transition: 1s ease-in-out; }
  .botonOcultarNav {
    display: flex; } }

main #index .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 10rem; }

main #mains .row {
  justify-content: left;
  margin-left: 0;
  margin-right: 0; }
  main #mains .row > div {
    display: grid;
    grid-template-rows: 80% 10% 10%;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid transparent;
    border-radius: 5px;
    padding: 0;
    margin: 0.1rem 0; }
    main #mains .row > div .unidades {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr; }
      main #mains .row > div .unidades input {
        width: 100%;
        text-align: center; }
    main #mains .row > div > div {
      height: 100%;
      transition: all 1s;
      padding: 0.5rem;
      margin: 0.5rem auto;
      background-color: #2b2b2b;
      border: 0.1rem solid white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: end; }
      main #mains .row > div > div img {
        margin-bottom: auto; }
      main #mains .row > div > div .textoComponente p {
        margin: 0;
        text-align: center; }
    main #mains .row > div > div:hover {
      background-color: rgba(119, 0, 24, 0.4);
      scale: 1.015; }

#cart .elementoCarrito {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 1fr;
  align-items: center;
  height: 12rem;
  background-color: #2b2b2b; }
  #cart .elementoCarrito span {
    display: flex;
    flex-direction: column;
    padding: 1rem; }
  #cart .elementoCarrito button {
    height: 100%;
    font-size: 2rem; }

footer {
  background-color: #770018; }
  footer .copyright {
    padding: 0.5rem;
    text-align: center; }
    footer .copyright p {
      display: inline; }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: "Roboto", sans-serif; }

body {
  color: white;
  background-color: black; }

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh; }

.container-fluid {
  padding: 0; }

.navegacion ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style: none;
  margin: 0; }
  .navegacion ul li {
    padding: 0.25rem; }
    .navegacion ul li .fa-home {
      color: white; }
    .navegacion ul li .fa-angle-double-right {
      color: orange; }
