@import "colors";

#cart {
    .elementoCarrito {
        border: 2px solid white;
        display: grid;
        grid-template-columns: 20% 35% 35% 10%;
        align-items: center;
        background-color: $fondoProductos;

        img {
            padding: 0.5rem;
        }
        > p {
            margin: 0;
            padding-right: 1rem;
            text-align: center;
        }
        span {
            display: flex;
            flex-direction: column;
            padding-left: 3rem;
            p {
                margin-bottom: 0.5rem;
            }
        }
        button {
            height: 100%;
            font-size: 2rem;
            border-left: 2px solid white;
        }
    }
}
