@import "colors";

#cart {
    border: 2px solid white;
    border-radius: 5px;
    .elementoCarrito {
        display: grid;

        align-items: center;
        background-color: $fondoProductos;
        height: 10rem;
        border-bottom: 2px solid white;

        img {
            padding: 0.5rem;
        }
        > p {
            margin: 0;
            text-align: center;
        }
        span {
            display: flex;
            flex-direction: column;
            p {
                margin-bottom: 0.5rem;
            }
        }
        button {
            height: 100%;
            font-size: 2rem;
            border-left: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                font-size: 1.5rem;
            }
        }
    }

    > :last-child {
        border-top: none;
        p {
            text-align: center;
            margin: 0;
            background-color: $fondoProductos;
        }
        div {
            display: flex;
            border-top: 2px solid white;
            button {
                width: 100%;
                border-radius: 0;
            }
        }
    }
}
@include media-breakpoint-between(xs, lg) {
    #cart {
        p {
            font-size: 0.8rem;
        }
        i {
            font-size: 1.1rem;
        }
        > :last-child {
            p {
                font-size: 1.5rem;
            }
        }
        .elementoCarrito {
            grid-template-columns: 40% 25% 25% 10%;
            span {
                padding-left: 0.5rem;
            }
            > p {
                padding-right: 0.2rem;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    #cart {
        p {
            font-size: 1.2rem;
        }
        i {
            font-size: 1.5rem;
        }
        > :last-child {
            p {
                font-size: 2rem;
            }
        }
        .elementoCarrito {
            grid-template-columns: 22% 35% 35% 8%;
            span {
                padding-left: 3rem;
            }
            > p {
                padding-right: 1rem;
            }
        }
    }
}
