@import "colors";

footer {
    background-color: $fondoFooter;
    .copyright {
        padding: 0.5rem;
        text-align: center;
        font-style: italic;
        p {
            display: inline;
        }
        a {
            color: orange;
            font-weight: 600;
        }
        a:hover {
            text-decoration: none;
        }
    }
}
