@import "colors";

header {
    background-color: $fondoHeader;
    position: sticky;
    top: 0;
    z-index: 9999;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        i {
            font-size: 3rem;
            margin-left: auto;
            margin: 0 1rem;
        }
        a {
            color: white;

            span {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                p {
                    margin: 0;
                }
            }
        }
        a:hover {
            color: white;
            list-style: none;
            text-decoration: none;
        }
    }
    h2 {
        font-size: 3rem;
        text-align: center;
        padding: 1rem;
        margin: 0;
        padding-left: 0;
        color: white;
    }
}
