@import "colors";

main {
    #index {
        align-self: center;
        h3 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        .row {
            justify-content: space-around;
            margin: 5rem 0;
            > div {
                display: flex;
                align-content: center;
                height: 200px;
                padding: 1rem;
                transition: all 1s;
            }
            div:hover {
                transform: scale(1.1, 1.1);
            }
            .amd {
                background-color: $amd;
            }
            .intel {
                background-color: $intel;
            }
        }
    }
}
