@import "colors";

main {
    #index {
        .row {
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid white;
                height: 10rem;
            }
        }
    }
}
