main {
    #mains {
        .row {
            justify-content: space-around;
            margin-left: 0;
            margin-right: 0;
            > div {
                display: grid;
                grid-template-rows: auto 10%;
                grid-template-columns: auto;
                align-items: center;
                justify-content: center;
                border: 0.2rem solid transparent;
                border-radius: 5px;
                padding: 0;
                margin: 0.5rem 0;

                .textoComponente {
                    text-align: left;
                    align-self: center;
                    p {
                        margin: 0;
                    }
                }
                > div {
                    transition: all 1s;
                    padding: 0.5rem;
                    border: 0.1rem solid white;
                    border-radius: 5px;
                }
                > div:hover {
                    background-color: rgba(0, 102, 255, 0.7);
                }
            }
        }
    }
}
