@import "colors";

main {
    #mains {
        .row {
            margin: 0;
            > div {
                display: grid;
                grid-template-rows: 8fr 1fr 1fr;
                justify-content: center;
                border: 0.25rem solid black;
                border-radius: 0.5rem;
                padding: 0;
                margin: 1rem, 0;
                background-color: $fondoProductos;

                > div {
                    transition: all 0.75s;
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .textoComponente {
                        margin-top: auto;
                        p {
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
                > div:hover {
                    background-color: rgba(white, 0.75);
                    color: black;
                    /* scale: 1.015; */
                }
                .unidades {
                    display: grid;
                    grid-template-columns: 25% 50% 25%;
                    input {
                        width: 100%;
                        text-align: center;
                        border-radius: 0;
                        border: 0;
                    }
                    button {
                        border-radius: 0;
                    }
                }
                > button {
                    border-radius: 0;
                    border-bottom-left-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    font-size: 1.2rem;
                }
            }
        }
        margin-bottom: 1rem;
    }
}
